<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">page Index</a></li>
      <li><a href="/list?cate=book">page List</a></li>
      <li><a href="/detail?id=2018">page Detail</a></li>
      <li><a href="/post">page Test Post</a></li>
    </ul>
  </nav>
  <hr />
  <div>
    detail page!
  </div>
</body>
</html>